.ball-fish {
  width: 110px;
  height: 95px;
  background: #b46427;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 1px 0.8px,
    1px -10px 0 -2px #e5b680 inset,
    2px -23px 0 -8px #f6cf98 inset,
    0 2px 0 0 #d2b7a5 inset;
}

.ball-fish:before {
  content: "";
  width: 55px;
  height: 30px;
  border-radius: 20px 0 60px 0;
  background-color: #f6cf98;
  position: absolute;
  bottom: 8px;
  left: 28px;
  transform: rotate(28deg);
}

.ball-fish-brows {
  width: 10px;
  height: 10px;
  border-radius: 15px 200px 0 0;
  position: absolute;
  top: 18px;
  left: 38px;
  border-top: 2px solid;
  z-index: 1;
}

.ball-fish-brows:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 200px 24px 0 0;
  position: absolute;
  top: 0;
  left: -35px;
  border-top: 2px solid;
}

.ball-fish:after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 3px;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 38px;
  left: 8px;
  transform: scaleX(0.7);
  box-shadow:
    4px 0 1px 1px #000,
    3px -2px 1px 1px #fff,
    4px 0 1px 4px #046792,
    4px 0 0 4px #000,
    1px -2px 0 9px #fff,
    45px 1px 1px 1.5px #000,
    43px -2px 1px 1px #fff,
    44px 0 1px 5px #046792,
    44px 0 0 5px #000,
    40px -2px 0 10px #fff,
    40px -2px 2px 10px #000,
    6px -6px 1px 18px #b46427,
    3px -7px 1px 16px #000;
}

.ball-fish-lower-half {
  width: 25px;
  height: 60px;
  background: #f6cf98;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  transform: rotate(-50deg);
  top: 40px;
  left: 8px;
  box-shadow: 8px 0 0 0 #e5b680 inset, 5px 3px 0 -3px #000 inset;
}

.ball-fish-lower-half:before {
  content: "";
  width: 20px;
  height: 10px;
  background: #f6cf98;
  position: absolute;
  transform: rotate(35deg);
  top: 24px;
  left: 16px;
}

.ball-fish-lower-half:after {
  content: "";
  width: 38px;
  height: 20px;
  border-radius: 50%;
  background: transparent;
  position: absolute;
  top: 68px;
  left: 40px;
  transform: rotate(45deg);
  box-shadow: 0 -8px 0 0 #f6cf98 inset;
}

.ball-fish-tail {
  width: 18px;
  height: 10px;
  border-radius: 5px 20px 20px 5px;
  background: #fcbe11;
  position: relative;
  top: 40px;
  right: -70px;
  box-shadow: 40px 6px 0 0 #f99108, -4px 2px 0 0 #f99108 inset, 39px 15px 0 0 #f99108;
}

.ball-fish-tail:before {
  content: "";
  width: 18px;
  height: 10px;
  transform: rotate(-40deg);
  border-radius: 10px 20px 20px 0;
  background: #fcbe11;
  position: absolute;
  top: -5px;
  right: 1px;
  box-shadow: 28px 30px 0 -1px #fcbe11,
    27px 32px 0 -1px #f99108,
    -5px 3px 0 0 #f99108 inset;
}

.ball-fish-tail:after {
  content: "";
  width: 18px;
  height: 10px;
  border-radius: 10px 20px 20px 10px;
  transform: rotate(45deg);
  background: #fcbe11;
  position: absolute;
  top: 5px;
  right: 1px;
  box-shadow: -5px -2px 0 0 #f99108 inset, 36px -17px 0 0 #f99108;
}

.ball-fish-lips {
  width: 7px;
  height: 13px;
  background: #fcbe11;
  border-radius: 26px 5px 5px 26px;
  transform: rotate(10deg);
  box-shadow: -1px -1px 0 0 #dd821e, 1px 1px 0 0 #f9d652 inset, -1px -3px 0 -1px #f99108 inset;
  position: absolute;
  top: 55px;
  left: 12px;
  z-index: 2;
}

.ball-fish-lips:before {
  content: "";
  width: 18px;
  height: 10px;
  background: #fcbe11;
  border-radius: 0 0 16px 16px;
  position: absolute;
  left: 3px;
  top: 2px;
  transform: rotate(25deg);
  box-shadow: -1px 0 0 1px #f99108 inset, -3px -2px 0 1px #f99108 inset;
}

.ball-fish-lips:after {
  content: "";
  width: 20px;
  height: 10px;
  background: #fcbe11;
  border-radius: 0 0 16px 16px;
  position: absolute;
  left: 2px;
  top: 10px;
  transform: rotate(-15deg);
  box-shadow: 0 -1px 0 1px #f99108 inset, -1px -1px 0 2px #f99108 inset;
}

.ball-fish-mouth {
  width: 5px;
  height: 4px;
  border-radius: 10px 10px 10px 2px;
  background: #7f0a02;
  position: absolute;
  top: 8px;
  left: 5px;
  z-index: 3;
  transform: rotate(110deg);
}

.ball-fish-mouth:before {
  content: "";
  width: 10px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
  transform: rotate(50deg);
  position: absolute;
  top: -35px;
  left: -54px;
  box-shadow:
    2px -2px 0 0 #7f0a02,
    2px -5px 0 0 #7f0a02,
    -38px -14px 1px 0 #7f0a02,
    -37px -18px 1px 0 #7f0a02,
    -30px 10px 0 0 #924c18,
    -22px 24px 1px 0 #924c18,
    8px 26px 1px 0 #924c18,
    20px -3px 1px 0 #924c18,
    15px 13px 1px 0 #924c18,
    -10px 16px 1px 0 #924c18,
    -22px 0 1px 0 #924c18,
    -25px -12px 1px 0 #924c18,
    -15px -22px 1px 0 #924c18,
    -18px -38px 1px 0 #924c18,
    -8px -48px 1px 0 #924c18,
    8px -53px 1px 0 #924c18,
    28px -52px 1px 0 #924c18,
    26px -23px 1px 0 #924c18,
    36px -38px 1px 0 #924c18,
    18px -38px 1px 0 #924c18,
    2px -34px 1px 0 #903b02;
}

.ball-fish-mouth:after {
  content: "";
  width: 10px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
  transform: rotate(75deg);
  position: absolute;
  top: -38px;
  left: -47px;
  box-shadow:
    1px -1px 0 0 #7f0a02,
    -41px 2px 1px 0 #7f0a02,
    -41px -3px 1px 0 #7f0a02,
    -20px 31px 1px 0 #903b02,
    -8px 40px 1px 0 #903b02,
    18px 30px 1px 0 #903b02,
    20px -2px 1px 0 #903b02,
    20px 15px 1px 0 #903b02,
    -2px 28px 1px 0 #903b02,
    -18px 18px 1px 0 #903b02,
    -26px 8px 1px 0 #903b02,
    -20px -5px 1px 0 #903b02,
    -32px -17px 1px 0 #903b02,
    -26px -30px 1px 0 #903b02,
    -12px -42px 1px 0 #903b02,
    4px -51px 1px 0 #903b02,
    16px -22px 1px 0 #903b02,
    2px -32px 1px 0 #903b02,
    18px -40px 1px 0 #903b02,
    -12px -22px 1px 0 #903b02;
}

.bf-prick {
  width: 10px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
  transform: rotate(-40deg);
  position: absolute;
  top: -2px;
  left: 47px;
  box-shadow: -20px -12px 1px 0 #903b02,
    0 -1px 1px 0 #903b02,
    15px 18px 1px 0 #903b02,
    -15px 1px 1px 0 #903b02;
}

.bf-prick:before {
  content: "";
  width: 10px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
  transform: rotate(-20deg);
  position: absolute;
  top: 2px;
  left: 2px;
  box-shadow: -15px -18px 1px 0 #903b02,
    0 -1px 1px 0 #903b02,
    5px 21px 1px 0 #903b02,
    -15px -5px 1px 0 #903b02;
}
